@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url(./assets/fonts/HelveticaNeue.ttc) format("ttc");
}
@font-face {
  font-family: "Futura";
  src: local("Futura"), url(./assets/fonts/Futura.ttc) format("ttc");
}

@font-face {
  font-family: "Impact";
  src: local("Impact"), url(./assets/fonts/Impact.ttf) format("ttf");
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
